<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Chance Wiese</h2>
  <a href="/about"><button>About Me Page</button></a>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Python</li>
    <li>SQL</li>
    <li>Excel</li>
    <li>Organization</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Python</li>
    <li>SQL</li>
    <li>Tableau</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://wsd.net/schools/high-schools/weber">
      <li>Weber High School</li>
    </a>
    <a href="https://www.usu.edu/">
      <li>Utah State University</li>
    </a>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>Business Intern at Weber High School</li>
    <li>Data Analyst at Tukios</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Pickleball Club</li>
    <li>Roundnet Club</li>
    <li>DAIS</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Chance Wiese</h2></div>
</html>
